# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# LaTeX auxiliary fies
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.toc

# Directories
AMRO/
JSM/
Logs/
Misc/
OVEN_old/
Sims_old/

# final pdf
Draft.pdf
Supplement.pdf
title_page.pdf
